.home-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-container {
  width: 100%;
  margin-bottom: 100px;
}

.carousel img {
  height: 80vh; 
  object-fit: cover;
}

.carousel-slide {
  position: relative;
  width: 100%;
}

.carousel-text {
  position: absolute;
  top: 70%;
  left: 2%;
  transform: translateY(-50%); 
  color: #000;
  text-align: left; 
  z-index: 2; 
}

.carousel-text h2 {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 900;
}

.carousel-text p {
  font-size: 25px;
  margin-bottom: 20px; 
  font-weight: 600;
}

.explore-button {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  background-color: #ff6347;
  color: white;
  transition: background-color 0.3s;
}

.explore-button:hover {
  background-color: #ff4500;
}
